:root {
  --backgroun-color: #eeeeeedc;
  --backgroun-shdow: rgba(0, 0, 0, 0.35);
  --pading-sectine: 20px 0;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--backgroun-shdow);
  border-radius: 20px;
}
.logo img {
  animation: pulseGlow 3s ease-in-out infinite;
  transition: transform .5s ease;
}
title{
  background-color: #000;
}
.logo:hover img {
  transform: rotate(-5deg) scale(1.08);
}
.logo img {
  animation: pulseGlow 3s ease-in-out infinite;
}

@keyframes pulseGlow {
  0% {
    transform: scale(1);
    filter: drop-shadow(0 0 0 rgba(20,127,255,0));
  }
  50% {
    transform: scale(1.05);
    filter: drop-shadow(0 0 18px rgba(20,127,255,.7));
  }
  100% {
    transform: scale(1);
    filter: drop-shadow(0 0 0 rgba(20,127,255,0));
  }
}


html,
body {
  height: auto !important;
  overflow-x: hidden;
    cursor: pointer;

}

#wowslider-container1 .ws_playpause {
  display: none !important;
}

@font-face {
  font-family: "fontfutura";
  src: url("https://fonts.googleapis.com/css?family=Open+Sans") format("ttf");
  font-weight: normal;
  font-style: normal;
}

a.btn-google {
  color: #fff
}

.btn {
  padding: 10px 16px;
  margin: 5px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  font-weight: 500;
  text-decoration: none;
  display: inline-block
}

.btn:active:focus,
.btn:focus {
  outline: 0
}

.btn:focus,
.btn:hover {
  color: #333;
  text-decoration: none;
  outline: 0
}

.btn:active {
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

.btn-google {
  color: #fff;
  background-color: #111;
  border-color: #000;
  padding: 15px 16px 5px 40px;
  position: relative;
  font-family: fontfutura;
  font-weight: 600
}

.btn-google:focus {
  color: #fff;
  background-color: #555;
  border-color: #000
}

.btn-google:active,
.btn-google:hover {
  color: #fff;
  background-color: #555;
  border-color: #000;
}

.btn-google:before {
  content: "";
  background-image: url(https://4.bp.blogspot.com/-52U3eP2JDM4/WSkIT1vbUxI/AAAAAAAArQA/iF1BeARv2To-2FGQU7V6UbNPivuv_lccACLcB/s30/nexus2cee_ic_launcher_play_store_new-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 6px;
  top: 50%;
  margin-top: -15px
}

.btn-google:after {
  content: "GET IT ON";
  position: absolute;
  top: 5px;
  left: 40px;
  font-size: 10px;
  font-weight: 400;
}

.loader {
  position: relative;
  width: 54px;
  height: 54px;
  border-radius: 10px;
}

.loding {
  background-color: var(--backgroun-color);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  /* أنيميشن */
  opacity: 1;
  transform: scale(1);
  filter: blur(0);
  transition:
    opacity 0.8s ease,
    transform 0.8s ease,
    filter 0.8s ease;
}

/* عند الإخفاء */
.loding.hide {
  opacity: 0;
  transform: scale(1.1);
  filter: blur(6px);
  pointer-events: none;
}

.loader div {
  width: 8%;
  height: 24%;
  background: var(--backgroun-shdow);
  position: absolute;
  left: 50%;
  top: 30%;
  opacity: 0;
  border-radius: 50px;
  box-shadow: 0 0 3px var(--backgroun-shdow);
  animation: fade458 1s linear infinite;
}

@keyframes fade458 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.25;
  }
}

.loader .bar1 {
  transform: rotate(0deg) translate(0, -130%);
  animation-delay: 0s;
}

.loader .bar2 {
  transform: rotate(30deg) translate(0, -130%);
  animation-delay: -1.1s;
}

.loader .bar3 {
  transform: rotate(60deg) translate(0, -130%);
  animation-delay: -1s;
}

.loader .bar4 {
  transform: rotate(90deg) translate(0, -130%);
  animation-delay: -0.9s;
}

.loader .bar5 {
  transform: rotate(120deg) translate(0, -130%);
  animation-delay: -0.8s;
}

.loader .bar6 {
  transform: rotate(150deg) translate(0, -130%);
  animation-delay: -0.7s;
}

.loader .bar7 {
  transform: rotate(180deg) translate(0, -130%);
  animation-delay: -0.6s;
}

.loader .bar8 {
  transform: rotate(210deg) translate(0, -130%);
  animation-delay: -0.5s;
}

.loader .bar9 {
  transform: rotate(240deg) translate(0, -130%);
  animation-delay: -0.4s;
}

.loader .bar10 {
  transform: rotate(270deg) translate(0, -130%);
  animation-delay: -0.3s;
}

.loader .bar11 {
  transform: rotate(300deg) translate(0, -130%);
  animation-delay: -0.2s;
}

.loader .bar12 {
  transform: rotate(330deg) translate(0, -130%);
  animation-delay: -0.1s;
}

.ccs-pillNav {
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 999;
  width: fit-content;
  display: flex;
  gap: 8px;
  padding: 8px;
  border-radius: 18px;
  box-shadow: 0 30px 30px var(--backgroun-shdow);
  background: #0000002e;
  /* أنيميشن فخم */
  transition:
    transform 0.45s cubic-bezier(.4, 0, .2, 1),
    opacity 0.35s ease,
    filter 0.35s ease;

  opacity: 1;
  filter: blur(0);
}
.site-header {
  position: fixed;
    border-radius: 18px;

 box-shadow: 0 30px 30px var(--backgroun-shdow);
  background: #0000002e;  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  max-width: 1200px;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}


/* Logo */
.logo {
  font-size: 22px;
  font-weight: 900;
  color: white;
}

/* زر الثلاث شحطات */
.menu-toggle {
  display: none;
  width: 32px;
  height: 22px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.menu-toggle span {
  height: 3px;
  background: white;
  border-radius: 5px;
  transition: all .4s ease;
}
.menu-toggle.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.menu-toggle.active span:nth-child(2) {
  opacity: 0;
}
.menu-toggle.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}


.ccs-pillItem {
  text-decoration: none;
  color: white;
  font-weight: 900;
  padding: 10px 14px;
  border-radius: 14px;
  transition: background .18s ease, transform .18s ease;
}

.ccs-pillItem:hover {
  background: rgba(20, 127, 255, .09);
  transform: translateY(-1px);
}

.ccs-pillItem:focus {
  color: rgb(186, 213, 255);
  background: rgb(20, 127, 255);
}

.ccs-pillItem:active {
  color: rgb(186, 213, 255);
  background: rgb(20, 127, 255);
}

.ccs-pillItem.active {
  background: rgb(20, 127, 255);
  color: rgb(186, 213, 255);
  box-shadow: 0 8px 20px rgba(20, 127, 255, .45);
}



.ccs-pillNav.hide {
  transform: translate(-50%, -120%);
  opacity: 0;
  filter: blur(8px);
}

/* afrads */
#Work {
  padding: var(--pading-sectine);
  width: 100%;
}

.afrads {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.afrads video {
  width: 50%;
}

.afrads .contant {
  padding: 50px;
  width: 50%;
}

.afrads .contant h3 {
  color: #bc4cca;
  margin: 0;
  font-size: 30px;
  font-weight: bold;
}

.afrads .contant p {
  margin: 0;
  font-size: 20px;
  padding: 20px 0;
}

#uplod {
  padding: var(--pading-sectine);
  width: 100%;

}

.uplode {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.uplode video {
  width: 50%;
}

.uplode .contant {
  padding: 50px;
  width: 50%;
}

.uplode .contant h3 {
  color: #bc4cca;
  margin: 0;
  font-size: 30px;
  font-weight: bold;
}

.uplode .contant p {
  margin: 0;
  font-size: 20px;
  padding: 20px 0;
}
#serv{
  padding: var(--pading-sectine);
  background-color: var(--backgroun-shdow);
}
#serv .serves{
  display: flex;
  align-items: center;

  justify-content: center;
  align-items: start;
  flex-wrap: wrap;

}
#serv .serves .box{
  background-color: var(--backgroun-shdow);
  box-shadow: 0 0 10px var(--backgroun-color);
  display: flex;
  padding: 15px 20px;
}
#serv .serves .box h4{
  margin: 0;
  padding: 0;
  color: #eee;
}
#serv .serves .box p{
  margin: 0;
  padding: 0;
  color: var(--backgroun-color);
}
#serv .serves .box img{
  width: 90px;

}
#serv .serves .box:hover{
  transform: scale(1.1);
}

#serv .serve{
  width: 33%;
}
#serv .serves img{
  width: 100%;
}
ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #151414c7;
  position: relative;
  padding-bottom: 20px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: var(--backgroun-color);
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: var(--backgroun-color);
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: var(--backgroun-shdow);
    padding: 13px 20px;
    border: 1px solid var(--backgroun-color);
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}


@media (max-width: 576px) {
  .afrads {
    display: block;
  }
  #serv .serves{
  display: flex;
  flex-direction: column;
}
#serv .serve{
  width: 100%;
}



  .uplode {
    flex-direction: column-reverse;
  }
.menu-toggle {
    display: flex;
  }

  .ccs-pillNav {
    position: absolute;
    top: 60px;
    left: 0;
    transform: translateY(-20px) scale(.95);
    opacity: 0;
    pointer-events: none;
    flex-direction: column;
    width: 100%;
    background: rgba(0,0,0,.85);
    backdrop-filter: blur(10px);
    border-radius: 18px;
    transition: all .45s cubic-bezier(.4,0,.2,1);
  }

  .ccs-pillNav.show {
    transform: translateY(0) scale(1);
    opacity: 1;
    pointer-events: auto;
  }

  .afrads video,
  .uplode video {
    width: 100%;
  }

  .afrads .contant,
  .uplode .contant {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .afrads {
    display: block;
  }
.menu-toggle {
    display: flex;
  }
    #serv .serves{
  display: flex;
  flex-direction: column;
}
#serv .serve{
  width: 100%;
}

  .ccs-pillNav {
    position: absolute;
    top: 60px;
    left: 0;
    transform: translateY(-20px) scale(.95);
    opacity: 0;
    pointer-events: none;
    flex-direction: column;
    width: 100%;
    background: rgba(0,0,0,.85);
    backdrop-filter: blur(10px);
    border-radius: 18px;
    transition: all .45s cubic-bezier(.4,0,.2,1);
  }

  .ccs-pillNav.show {
    transform: translateY(0) scale(1);
    opacity: 1;
    pointer-events: auto;
  }

  .uplode {
    flex-direction: column-reverse;
  }

  .afrads video,
  .uplode video {
    width: 100%;
  }

  .afrads .contant,
  .uplode .contant {
    width: 100%;
  }
}